* ul li{
    list-style: none;
}
.footer{
    background-color: black;
    width: 100%;
    height: 300px;
    color: white;
}
.logo{
    width: 130px;
    height: 40;
    margin-top: 70px;
    float: left;
    margin-left: 150px;
}
.category-list{
    font-size: 14px;
    
   
}
.category-list li p{
   text-align: left;
   margin-top: 20px;
}
.footer-text{
    float: left;
    margin-top: 80px;
    font-size: 14px;
    margin-left: 120px;
}
.footer-list li{
    float: left;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 80px;
}
