.headline {
    margin-bottom: 15px;
}

.title {
    text-transform: capitalize;
    text-align: justify;
    font-weight: 500;
    font-size: 25px;
}

.title-pera {
    text-align: justify;
    font-size: 16px;
}

.icon {
   display: block;
   background-color: #F91944;
   color: white !important;
    
}
.card-head{
    text-align: left;
    font-size: 20px;
}
.card-text{
    text-align: justify;
    font-size: 13px;
}
.link{
    color: #708FF8;
    
}
.link-icone{
    color: #19E270;
}